/* Skills Showcase */

.skills-showcase {
    background: rgba(247, 247, 247, 1);
    padding: 3rem 3rem;
}

.skills-showcase__list {
    display: flex;
    justify-content: space-around;
}

.skills-showcase__list-item {
    padding: 3rem;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.skills-showcase__list-item img {
    width: 5rem;
}

.skills-showcase__list-item img {
    color: var(--themeColor);
    color: #999;
    font-size: 5rem;
}

@media (max-width: 75em) {
    .skills-showcase__list-item {
        padding: 1.5rem;
        border-radius: 5px;
        background: #fff;
    }

    .skills-showcase__list-item i {
        font-size: 5rem;
    }
}

@media (max-width: 56.25em) {
    .skills-showcase {
        padding: 5rem;
    }

    .skills-showcase__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5rem;
    }

    .skills-showcase__list-item {
        text-align: center;
    }
}

@media (max-width: 37.5em) {
    .skills-showcase {
        padding: 4rem;
    }

    .skills-showcase__list {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }
}

@media (max-width: 21.875em) {
    .skills-showcase__list-item i {
        font-size: 4rem;
    }
}