.contact__form-cont {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 100px rgba(250, 239, 239, 0.1);
}

.contact__form {
    background: #fff;
    padding: 1rem;
    width: 450px;
}

@media (max-width: 56.25em) {
    .contact__form-cont {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 37.5em) {
    .contact__form-cont {
        grid-template-columns: 1fr;
    }

    .contact__form {
        padding: 3rem;
    }
}

.contact__form-field {
    margin-bottom: 3rem;
}

.contact__form-field-label {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #444;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.contact__form-field-input {
    display: block;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid var(--themeColor2);
    font-size: 1.6rem;
    resize: none;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
}

textarea {
    height: 13rem;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact__form-field-input::placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input:-ms-input-placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input::-ms-input-placeholder {
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input:-moz-placeholder {
    opacity: 1;
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input::-moz-placeholder {
    opacity: 1;
    color: rgb(175, 175, 175);
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__form-field-input:focus {
    outline: none;
}

.contact__form-submit {
    padding: 2rem;
    width: 100%;
    font-size: 1.6rem;
    border: none;
    letter-spacing: 1px;
    font-family: inherit;
    font-weight: 700;
    background: var(--themeColor);
    color: aliceblue;
    margin-top: 4rem;
    display: block;
    border-radius: 5px;
    cursor: pointer;
}

.warning {
    margin-top: 1rem;
    color: rgb(255, 0, 0);
    text-align: center;
}

.mail {
    color: blue;
}

@media (max-width: 37.5em) {

    .contact__form {
        padding: 3rem;
        margin: 1rem;
    }

    .main-section__content {
        margin-top: 0rem;
    }
}