/* Main Footer */

.main-footer__upper {
    background: var(--themeColor2);
    padding: 4rem 0;
    color: aliceblue;
}

.main-footer__description {
    font-size: 1.3rem;
    max-width: 50rem;
}

.main-footer__description p {
    font-size: 1.3rem;
}

@media (max-width: 500px) {
    .main-footer__description {
        padding: 3rem 0;
    }


    .d-flex {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .main-footer__links {
        display: block;
    }

    .main-footer__link a {
        margin-bottom: 0.5rem;
        padding: 3rem 1.5rem;
        display: block;
    }
}

.main-footer__mid-line {
    background: grey;
    height: 1px;
    margin: auto;
    margin-top: 6rem;
}

.main-footer__socials {
    margin-left: 10px;
}

.main-footer__socials p {
    text-align: center;
    font-size: 16px;
    margin-top: 6px;
}

.main-footer__socials ul {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}

.main-footer__socials ul li {
    color: aliceblue;
    font-size: 20px;

}

.main-footer__socials ul li a:hover {
    color: var(--themeColor);
}


.main-footer__bottom-txt {
    margin-top: 10px;
    color: #eee;
    font-size: 1.3rem;
    word-spacing: 2px;
    text-align: center;
}

.main-footer__bottom-txt a {
    text-decoration: underline;
    color: #fff;
    font-weight: 700;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}